__tests__/
.github
.vscode
build/*.spec.js
build/**/*.spec.js
coverage/
src/
.eslintigore
.eslintrc.js
.prettierrc
docker-compose.yml
jest.config.js
tsconfig.dev.json
tsconfig.json
tsconfig.prod.json
yarn.lock